@model Coders_Zone.Models.Course
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="row border border-1 border-dark m-5">
    <div class="d-flex flex-row justify-content-between p-4">
        <h2>Edit Course</h2>
    </div>
    <form class="my-4" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="form-check form-switch mx-4">
                <input class="form-check-input" type="checkbox"  asp-for="IsPublic" checked>
                <label class="form-check-label">Public</label>
            </div>
            <div class="col-sm-6 ">
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border border-1 border-dark my-2" placeholder="Course Name" asp-for="Name" required/>
                        <label asp-for="Name">Course Name</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input asp-for="Category" type="text" class="form-control border border-1 border-dark my-2" placeholder="Category" required>
                    <label asp-for="Category">Course Category</label>
                </div>
            </div>
        </div>
        <div class="input-group mb-3 border border-1 border-dark">
            <label asp-for="Level" class="input-group-text">Options</label>
            <select asp-for="Level" class="form-select" required>
                <option value="All levels">All levels</option>
                <option value="Beginning">Beginning</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Expert">Expert</option>
            </select>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="ClientImage" type="file" class="form-control border border-1 border-dark my-2" required>
            <label> Cover Image</label>
        </div>
        <div class="form-floating border border-1 border-dark">
            <textarea asp-for="Overview" class="form-control" placeholder="Course Overview" style="height: 100px" required></textarea>
            <label asp-for="Overview">Course OverView</label>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control border border-1 border-dark my-2" placeholder="Duration" asp-for="Duration" required />
                        <label asp-for="Duration">Duration in Hours</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input asp-for="NumLessons" type="number" class="form-control border border-1 border-dark my-2" placeholder="Number of Lessons" required>
                    <label asp-for="NumLessons">Number of lessons</label>
                </div>
            </div>
        </div>
        <hr class="m-5" />

        <div class="col-sm-12 my-4">
            <button type="submit" class="btn btn-primary w-100 p-3">Save & Upload</button>
        </div>
    </form>
</div>