<!DOCTYPE html>
<html>
    <head>
        <title>Courses Page</title>
    </head>
    <body>
        <div class="container">
            <h2>All Courses</h2>
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-3 shadow">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img src="/images/course1.png" class="img-fluid rounded-start h-100" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p class="font-weight-bolder">Author Name</p>
                                    <h4 class="card-title font-weight-bold">This is Course Title</h4>
                                    <div class="row">
                                        <div class="col">
                                            <ul class="list-unstyled d-flex justify-content-between p-4 small">
                                                <li>2 weeks</li>
                                                <li>155 students</li>
                                                <li>All levels</li>
                                                <li>20 Lessons</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-link text-body font-weight-bolder text-decoration-none p-0" type="button">View more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 shadow">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img src="/images/course2.png" class="img-fluid rounded-start h-100" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p class="font-weight-bolder">Author Name</p>
                                    <h4 class="card-title font-weight-bold">This is Course Title</h4>
                                    <div class="row">
                                        <div class="col">
                                            <ul class="list-unstyled d-flex justify-content-between p-4 small">
                                                <li>2 weeks</li>
                                                <li>155 students</li>
                                                <li>All levels</li>
                                                <li>20 Lessons</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-link text-body font-weight-bolder text-decoration-none p-0" type="button">View more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 shadow">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img src="/images/course3.jpeg" class="img-fluid rounded-start h-100" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p class="font-weight-bolder">Author Name</p>
                                    <h4 class="card-title font-weight-bold">This is Course Title</h4>
                                    <div class="row">
                                        <div class="col">
                                            <ul class="list-unstyled d-flex justify-content-between p-4 small">
                                                <li>2 weeks</li>
                                                <li>155 students</li>
                                                <li>All levels</li>
                                                <li>20 Lessons</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-link text-body font-weight-bolder text-decoration-none p-0" type="button">View more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 shadow">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img src="/images/course3.png" class="img-fluid rounded-start h-100" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p class="font-weight-bolder">Author Name</p>
                                    <h4 class="card-title font-weight-bold">This is Course Title</h4>
                                    <div class="row">
                                        <div class="col">
                                            <ul class="list-unstyled d-flex justify-content-between p-4 small">
                                                <li>2 weeks</li>
                                                <li>155 students</li>
                                                <li>All levels</li>
                                                <li>20 Lessons</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-link text-body font-weight-bolder text-decoration-none p-0" type="button">View more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 shadow">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img src="/images/course5.jpg" class="img-fluid rounded-start h-100" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p class="font-weight-bolder">Author Name</p>
                                    <h4 class="card-title font-weight-bold">This is Course Title</h4>
                                    <div class="row">
                                        <div class="col">
                                            <ul class="list-unstyled d-flex justify-content-between p-4 small">
                                                <li>2 weeks</li>
                                                <li>155 students</li>
                                                <li>All levels</li>
                                                <li>20 Lessons</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-link text-body font-weight-bolder text-decoration-none p-0" type="button">View more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="card mb-3 bg-light shadow">
                    <div class="card-body">
                        <form id="filterForm">
                            <div class="form-group">
                                <h4 class="card-title font-weight-bold">Filters</h4>

                                <div class="form-check py-1 d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <input class="form-check-input border-dark" type="checkbox" id="checkbox1" name="language" value="Java">
                                        <label class="form-check-label text-dark mx-2" for="checkbox1">Java</label>
                                    </div>
                                    <div>10 courses</div>
                                </div>
                                <div class="form-check py-1 d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <input class="form-check-input border-dark" type="checkbox" id="checkbox1" name="language" value="Java">
                                        <label class="form-check-label text-dark mx-2" for="checkbox1">Java</label>
                                    </div>
                                    <div>10 courses</div>
                                </div>
                                <div class="form-check py-1 d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <input class="form-check-input border-dark" type="checkbox" id="checkbox1" name="language" value="Java">
                                        <label class="form-check-label text-dark mx-2" for="checkbox1">Java</label>
                                    </div>
                                    <div>10 courses</div>
                                </div>
                                <div class="form-check py-1 d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <input class="form-check-input border-dark" type="checkbox" id="checkbox1" name="language" value="Java">
                                        <label class="form-check-label text-dark mx-2" for="checkbox1">Java</label>
                                    </div>
                                    <div>10 courses</div>
                                </div>
                                <div class="form-check py-1 d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <input class="form-check-input border-dark" type="checkbox" id="checkbox1" name="language" value="Java">
                                        <label class="form-check-label text-dark mx-2" for="checkbox1">Java</label>
                                    </div>
                                    <div>10 courses</div>
                                </div>
                                <div class="form-check py-1 d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <input class="form-check-input border-dark" type="checkbox" id="checkbox1" name="language" value="Java">
                                        <label class="form-check-label text-dark mx-2" for="checkbox1">Java</label>
                                    </div>
                                    <div>10 courses</div>
                                </div>

                                <h4 class="card-title font-weight-bold mt-3">Level</h4>

                                <div class="form-check py-1 d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <input class="form-check-input border-dark" type="checkbox" id="checkbox1" name="language" value="Java">
                                        <label class="form-check-label text-dark mx-2" for="checkbox1">All levels</label>
                                    </div>
                                    <div>10 courses</div>
                                </div>
                                <div class="form-check py-1 d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <input class="form-check-input border-dark" type="checkbox" id="checkbox1" name="language" value="Java">
                                        <label class="form-check-label text-dark mx-2" for="checkbox1">Beginner</label>
                                    </div>
                                    <div>10 courses</div>
                                </div>
                                <div class="form-check py-1 d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <input class="form-check-input border-dark" type="checkbox" id="checkbox1" name="language" value="Java">
                                        <label class="form-check-label text-dark mx-2" for="checkbox1">Intermidiate</label>
                                    </div>
                                    <div>10 courses</div>
                                </div>
                                <div class="form-check py-1 d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <input class="form-check-input border-dark" type="checkbox" id="checkbox1" name="language" value="Java">
                                        <label class="form-check-label text-dark mx-2" for="checkbox1">Expert</label>
                                    </div>
                                    <div>10 courses </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>