<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - my_project</title>
    
    <!--<link rel="stylesheet" href="~/css/site.css"/>-->
    <style>
        body {
            background-color: rgb(229, 235, 240);
        }
        header {
            padding: 2% 4%;
            display: flex;
            align-items: center;
            background-color: white;
            justify-content: space-between;
        }
        .navbar a {
                font-size: 20px;
                padding: 1.2rem 1.5rem;
                color: black;
                text-decoration: none;
                font-family: var(--logo_font);
        }
        a:hover {
            color:rgb(69, 153, 168);
        }
        .logo {
            text-decoration: none;
            color:rgb(69, 153, 168);
            text-transform: capitalize;
            font-weight: 700;
            font-size: 1.8em;
        }
        footer {
            padding: 10px;
            background-color: rgb(54, 50, 54);
            margin: -10px;
            margin-top: 0px;
        }
        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
        }
        #click {
            width: 8%;
            height: 30px;
            margin-left: 0%;
            margin-top: 10px;
            background: #afafaf;
            color:black;
            font-size: 16px;
            text-transform: capitalize;
            cursor: pointer;
            border-radius: 25px;
            transition: 0.3s linear;
            outline: none;
        }
    </style>
</head>

<body>
    <header>
        <a href="#" class="logo"><em>Coders Zone</em></a>
        <div class="navbar" style="display:inline-block;">
            <a class="active"><em>Home</em></a>
            <a class="active"><em>Courses</em></a>
            <a class="active"><em>Quizzes</em></a>
            <a class="active"><em>Admin</em></a>
            <a class="active"><em>Log In</em></a>
            <a class="active"><em>Sign Up</em></a>
        </div>
    </header>
    <Content>
        <div>
            <p><em><marquee><h3>Welcome to coders zone web application where you are learn programming professionally and esaily</h3></marquee></em></p>
        </div>
    </Content>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer">
            <h1><em>Coders Zone</em></h1>
                <h3>Subscribe to get our Newsletter</h3>
                <input type="Email" required placeholder="your Email">
                <input id=click type="submit" value="Subscribe">
            <p> produced by Sufyan.Hashem.Shaima.Sara.Shaima.Mozna</p>
            <div class="container">
                &copy; 2024 - Our_site - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>
</body>
</html>
