<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />


</head>
<body>


    <section class="main">
        <div>
            <h1><span>Welcome to <br>our online classes </span></h1>
            <h5>we denounce with righteous indignation and dislike men who are <br>so beguiled and demoralized that cannot trouble </h5>
        </div>


    </section>

    <section class="cards" id="categories">
        <div>
            <a href="#project" class="main-btn"> All Categories</a>
            <h2>Top categories </h2>

            <h4 class="title ">Explore our popular categories </h4>

        </div>
        <div class="content ">
            <div class="card">
                <div calss="icon">
                    <i class="fa-solid fa-palette"></i>
                </div>
                <div class="info ">
                    <h3> Art & Design </h3>
                    <p> 38 courses</p>
                </div>
            </div>
            <div class="card">
                <div calss="icon">
                    <i class="fa-solid fa-code"></i>
                </div>
                <div class="info ">
                    <h3> Development </h3>
                    <p> 38 courses</p>
                </div>
            </div>
            <div class="card">
                <div calss="icon">
                    <i class="fa-solid fa-satellite-dish"></i>
                </div>
                <div class="info ">
                    <h3>Comunication</h3>
                    <p> 38 courses</p>
                </div>
            </div>
            <div class="card">
                <div calss="icon">
                    <i class="fa-solid fa-film"></i>
                </div>
                <div class="info ">
                    <h3> Videography </h3>
                    <p> 38 courses</p>
                </div>
            </div>
            <div class="card">
                <div calss="icon">
                    <i class="fa-solid fa-video"></i>
                </div>
                <div class="info ">
                    <h3> Photography</h3>
                    <p> 38 courses</p>
                </div>
            </div>
            <div class="card">
                <div calss="icon">
                    <i class="fa-solid fa-ranking-star"></i>
                </div>
                <div class="info ">
                    <h3> Marketing </h3>
                    <p> 38 courses</p>
                </div>
            </div>
            <div class="card">
                <div calss="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </div>
                <div class="info ">
                    <h3> Content writing </h3>
                    <p> 38 courses</p>
                </div>
            </div>
            <div class="card">
                <div calss="icon">
                    <i class="fa-regular fa-compass"></i>
                </div>
                <div class="info ">
                    <h3> Finance </h3>
                    <p> 38 courses</p>
                </div>
            </div>
            <div class="card">
                <div calss="icon">
                    <i class="fa-solid fa-flask"></i>
                </div>
                <div class="info ">
                    <h3> Science </h3>
                    <p> 38 courses</p>
                </div>
            </div>
            <div class="card">
                <div calss="icon">
                    <i class="fa-solid fa-globe"></i>
                </div>
                <div class="info ">
                    <h3> Network</h3>
                    <p> 38 courses</p>
                </div>
            </div>

        </div>



    </section>

    <section class="courses" id="coorses">
        <a href="#project" class="main-btn"> All Courses</a>
        <h2>Featured Courses</h2>
        <h4 class="title"> Explore our popular courses</h4>

        <br>
        <br>


        <div class="content">
            <div class="courses-card">
                <div class="courses-image ">
                    <img src="~/images/photo_2024-04-08_07-50-12.jpg" />
                    
                </div>
                <div class="courses-info">
                    <p class="courses-category">  by determined-poitras  </p>
                    <strong class="courses-title">
                        <span> Create an LMC website <br>with learn press</span>
                        <a href="#" class="more-details"> View </a>
                    </strong>
                </div>
            </div>
            <div class="courses-card">
                <div class="courses-image ">
                    <img src="~/images/photo_2024-04-08_07-50-29.jpg" />
                    
                </div>
                <div class="courses-info">
                    <p class="courses-category">  by determined-poitras  </p>
                    <strong class="courses-title">
                        <span> Create an LMC website <br>with learn press</span>
                        <a href="#" class="more-details"> View </a>
                    </strong>
                </div>
            </div>
            <div class="courses-card">
                <div class="courses-image ">
                    <img src="~/images/photo_2024-04-08_07-50-44.jpg" />
                   
                </div>
                <div class="courses-info">
                    <p class="courses-category">  by determined-poitras  </p>
                    <strong class="courses-title">
                        <span> Create an LMC website <br>with learn press</span>
                        <a href="#" class="more-details"> View </a>
                    </strong>
                </div>
            </div>
            <div class="courses-card">
                <div class="courses-image ">
                    <img src="~/images/photo_2024-04-08_07-51-04.jpg" />
               
                </div>
                <div class="courses-info">
                    <p class="courses-category">  by determined-poitras  </p>
                    <strong class="courses-title">
                        <span> Create an LMC website <br>with learn press</span>
                        <a href="#" class="more-details"> View </a>
                    </strong>
                </div>
            </div>
            <div class="courses-card">
                <div class="courses-image ">
                    <img src="~/images/photo_2024-04-08_07-51-36.jpg" />
                   
                </div>
                <div class="courses-info">
                    <p class="courses-category">  by determined-poitras  </p>
                    <strong class="courses-title">
                        <span> Create an LMC website <br>with learn press</span>
                        <a href="#" class="more-details"> View </a>
                    </strong>
                </div>
            </div>
            <div class="courses-card">
                <div class="courses-image ">
                    <img src="~/images/photo_2024-04-08_07-48-26.jpg" />
                  
                </div>
                <div class="courses-info">
                    <p class="courses-category">  by determined-poitras  </p>
                    <strong class="courses-title">
                        <span> Create an LMC website <br>with learn press</span>
                        <a href="#" class="more-details"> View </a>
                    </strong>
                </div>
            </div>

        </div>
    </section>
    <section class="picture1">
        <div class="box-image">
            <video controls="controls">
                <source src="~/images/03a4a5f034bf0bafa661fd8a8aabedc8.gif.mp4" type="video/mp4" />
            </video>
            
        </div>
        <div class="box-text">
            <h5>Get More power from</h5>
            <h1><span>Learn press Add-ons </span></h1>
            <h5>THE NEXT LEVEL OF LEARN PRESS -LMS PLUGIN </h5>
            <a href="#project" class="main-btn2"> Explore Courses</a>

        </div>
    </section>

    <section class="cards" id="total">

        <div class="content ">
            <div class="card2">
                <div calss="icon">
                </div>
                <div class="info ">
                    <h3> 25K+</h3>
                    <p> Active students</p>
                </div>
            </div>

            <div class="content ">
                <div class="card2">
                    <div calss="icon">
                    </div>
                    <div class="info ">
                        <h3> 180</h3>
                        <p> Total courses</p>
                    </div>
                </div>
            </div>
            <div class="content ">
                <div class="card2">
                    <div calss="icon">
                    </div>
                    <div class="info ">
                        <h3> 899 </h3>
                        <p> instructor</p>
                    </div>
                </div>
            </div>
            <div class="content ">
                <div class="card2">
                    <div calss="icon">
                    </div>
                    <div class="info ">
                        <h3> 100% </h3>
                        <p> satisfaction Rate</p>
                    </div>
                </div>
            </div>


    </section>


    <section class="about">
        <div class="container-image">
            <img src="~/images/photo_2024-04-08_07-49-40.jpg" />

        </div>
        <div class="container-text">
            <h1> Grow us your skills <br> with learnpress lms</h1><br>
            <h5>we denounce with righteous indignation and dislike men who are <br>so beguiled and demoralized that cannot trouble </h5>
            <p>
                certification<br>
                certification <br>certification
            </p>
            <a href="#project" class="main-btn2"> Explore Courses</a>
        </div>



    </section>




    <section class="courses" id="coorses2">
        <a href="#project" class="main-btn"> All Articles</a>
        <h2>Latest Articles</h2>
        <h4 class="title"> Explore our free articles</h4>

        <br>
        <br>


        <div class="content">
            <div class="courses-card">
                <div class="courses-image ">
                    <img src="~/images/photo_2024-04-08_07-49-50.jpg" />
             
                </div>
                <div class="courses-info">

                    <strong class="courses-title">
                        <span> Create an LMC website <br>with learn press</span>

                    </strong>
                    <p class="courses-category">  looking for an amazing & well function </p>
                </div>
            </div>
            <div class="courses-card">
                <div class="courses-image ">
                    <img src="~/images/photo_2024-04-08_07-51-41.jpg" />
 
                </div>
                <div class="courses-info">

                    <strong class="courses-title">
                        <span> Create an LMC website <br>with learn press</span>
                    </strong>
                    <p class="courses-category"> looking for an amazing & well function  </p>
                </div>
            </div>
            <div class="courses-card">
                <div class="courses-image ">
                    <img src="~/images/photo_2024-04-08_07-50-44.jpg" />
            
                </div>
                <div class="courses-info">

                    <strong class="courses-title">
                        <span> Create an LMC website <br>with learn press</span>

                    </strong>
                    <p class="courses-category"> looking for an amazing & well function  </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
